<?xml version="1.0"?>
<DTSConfiguration>
  <DTSConfigurationHeading>
    <DTSConfigurationFileInfo
      GeneratedBy="CPLCORP\dhaas"
      GeneratedFromPackageName="SupplierMaster"
      GeneratedFromPackageID="{9F1C2D33-4A70-4B0E-9D3B-6C0B2E51A118}"
      GeneratedDate="8/14/2016 4:39:11 PM"/>
  </DTSConfigurationHeading>
  <Configuration
    ConfiguredType="Property"
    Path="\Package.Connections[ERP_PROD].Properties[ConnectionString]"
    ValueType="String">
    <ConfiguredValue>Data Source=CPLERP01;Initial Catalog=ERP;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;</ConfiguredValue>
  </Configuration>
  <Configuration
    ConfiguredType="Property"
    Path="\Package.Connections[BI_STAGE].Properties[ConnectionString]"
    ValueType="String">
    <ConfiguredValue>Data Source=CPLBI01;Initial Catalog=BIStage;Provider=SQLNCLI11.1;Integrated Security=SSPI;</ConfiguredValue>
  </Configuration>
  <Configuration
    ConfiguredType="Property"
    Path="\Package.Variables[User::DropFolder].Properties[Value]"
    ValueType="String">
    <ConfiguredValue>\\cplfs01\interfaces\out</ConfiguredValue>
  </Configuration>
  <Configuration
    ConfiguredType="Property"
    Path="\Package.Variables[User::ArchiveFolder].Properties[Value]"
    ValueType="String">
    <ConfiguredValue>\\cplfs01\interfaces\archive</ConfiguredValue>
  </Configuration>
  <Configuration
    ConfiguredType="Property"
    Path="\Package.Properties[LoggingMode]"
    ValueType="Int32">
    <ConfiguredValue>1</ConfiguredValue>
  </Configuration>
</DTSConfiguration>
